page-resultQuestionnaireOpen {
  .card-ios,
  .card-md {
    width: 100%;
  }

  .card-content-md,
  .card-content-ios {
    padding: 3px 5px;
  }

  .cosa {
    padding-right: 5rem;
  }
  .cosa2 {
    padding-left: 5rem;
  }
}
