<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'QUESTIONNAIRES.RESULTS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap class="cards-bg" text-wrap>
  <h1> {{ 'RANK.AWO' | translate}} </h1>
  <ion-card *ngIf="hayPuntos()">
    <ion-card-header style="font-weight: bold">
      {{ 'POINTS.TITLE' | translate}}
    </ion-card-header>
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="point.image">
      </ion-thumbnail>
      <h2>{{ point.name }}</h2>
      <ion-note>{{ 'COMMON.VALUE' | translate}}: {{ point.value }}</ion-note>
    </ion-item>
    <ion-list>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.910' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.points[0] }}:</ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.8899' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.points[1] }}:</ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.7799' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.points[2] }}:</ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.6699' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.points[3] }}:</ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.5599' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.points[4] }}:</ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.0499' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.points[5] }}:</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="hayBadges()">
    <ion-card-header style="font-weight: bold" text-wrap>
      {{ 'BADGES.TITLE' | translate}}
    </ion-card-header>

    <ion-list>
      <ion-item>
        <h3> {{ 'RANK.910' | translate}} </h3>
        <ion-thumbnail item-left>
          <img [src]="badge0.image">
        </ion-thumbnail>
        <h2>{{ badge0.name }}</h2>
        <ion-note>{{ 'COMMON.VALUE' | translate}}: {{ badge0.value }}</ion-note>
      </ion-item>
      <ion-item>
        <h3> {{ 'RANK.7899' | translate}} </h3>
        <ion-thumbnail item-left>
          <img [src]="badge1.image">
        </ion-thumbnail>
        <h2>{{ badge1.name }}</h2>
        <ion-note>{{ 'COMMON.VALUE' | translate}}: {{ badge1.value }}</ion-note>
      </ion-item>
      <ion-item>
        <h3> {{ 'RANK.5699' | translate}} </h3>
        <ion-thumbnail item-left>
          <img [src]="badge2.image">
        </ion-thumbnail>
        <h2>{{ badge2.name }}</h2>
        <ion-note>{{ 'COMMON.VALUE' | translate}}: {{ badge2.value }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header style="font-weight: bold" text-wrap>
      {{ 'COLLECTIONS.TITLE' | translate}}
    </ion-card-header>
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="collection.image">
      </ion-thumbnail>
      <h2>{{ collection.name }}</h2>
    </ion-item>

    <ion-list>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.910' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.packCards[1] }}: </ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.7899' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.packCards[2] }}: </ion-note>
      </ion-item>
      <ion-item>
        <h3 class="cosa2"> {{ 'RANK.5699' | translate}} </h3>
        <ion-note class="cosa" item-right>{{ myQuestionnaire.packCards[3] }}: </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
  <button ion-button full type="button" on-click="outQuestionnaire()">{{ 'QUESTIONNAIRE.LOGOUT' | translate }}</button>
</ion-content>
