<ion-header>
    <ion-navbar color="primary">
     <ion-title font-size="2" ><p *ngIf="questionnaireTime"> {{'QUESTIONNAIRE.QUESTIONNAIRETIME'|translate}} {{ displayTime }}</p><marquee font-size="2" behavior="scroll" direction="left">{{this.navParams.data.title }}</marquee></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
 <form (submit)="doSubmitAnswer()">
        <ion-list multiple="true" text-wrap radio-group *ngFor="let Quest of navParams.data.question; let i=index">
          <ion-list-header>
              {{'QUESTIONNAIRE.QUESTION'|translate}} {{i+1}}/{{navParams.data.question.length}}
            <p style="font-size:20px">{{'QUESTIONNAIRE.STATEMENT'|translate}} {{i+1}}: {{Quest.statement}}</p>
            <br>
            <ion-img width="100" height="100" src="{{ Quest.image }}"></ion-img>
          </ion-list-header>
          <ion-item *ngIf="(Quest.answer1 !== undefined) && (Quest.type === 'classic') ">
            <ion-label>{{ Quest.answer1 }}</ion-label>
            <ion-radio (click)="saveAnswer(Quest.answer1,i)"checked="false"></ion-radio>
          </ion-item>
          <ion-item *ngIf="(Quest.answer2 !== undefined) && (Quest.type === 'classic')">
              <ion-label >{{ Quest.answer2 }}</ion-label>
              <ion-radio (click)="saveAnswer(Quest.answer2,i)" checked="false"></ion-radio>
            </ion-item>
          <ion-item *ngIf="(Quest.answer3!== undefined) && (Quest.type === 'classic')">
            <ion-label >{{ Quest.answer3 }}</ion-label >
            <ion-radio (click)="saveAnswer(Quest.answer3,i)"checked="false"></ion-radio>
          </ion-item>
          <ion-item *ngIf="(Quest.answer4 !== undefined) && (Quest.type === 'classic')">
              <ion-label >{{ Quest.answer4 }}</ion-label >
              <ion-radio  (click)="saveAnswer(Quest.answer4,i)"checked="false"></ion-radio>
          </ion-item>
          <ion-item *ngIf="(Quest.answer5 !== undefined) && (Quest.type === 'classic')">
              <ion-label >{{ Quest.answer5 }}</ion-label >
              <ion-radio  (click)="saveAnswer(Quest.answer5,i)" checked="false"></ion-radio>
          </ion-item>
          <ion-item *ngIf="Quest.answer6 !== undefined && (Quest.type === 'classic')">
              <ion-label >{{ Quest.answer6 }}</ion-label >
              <ion-radio  (click)="saveAnswer(Quest.answer6,i)" checked="false"></ion-radio>
          </ion-item>
          <ion-item  *ngIf="(Quest.answer1 !== undefined) && (Quest.type === 'openQuestion')">
            <ion-textarea (blur)="saveAnswer($event.target.value,i)" text-wrap placeholder="{{'QUESTIONNAIRE.TEXTAREA'|translate}}"></ion-textarea >
          </ion-item>
          <ion-item *ngIf="(Quest.answer1 !== undefined) && (Quest.type === 'multiAnswer') ">
            <ion-label>{{ Quest.answer1 }}</ion-label>
            <ion-checkbox item-right (click)="saveMultiAnswer(Quest.answer1,i,0)" checked="false"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="(Quest.answer2 !== undefined) && (Quest.type === 'multiAnswer')">
              <ion-label >{{ Quest.answer2 }}</ion-label>
              <ion-checkbox item-right (click)="saveMultiAnswer(Quest.answer2,i,1)" checked="false"></ion-checkbox>
            </ion-item>
          <ion-item *ngIf="(Quest.answer3!== undefined) && (Quest.type === 'multiAnswer')">
            <ion-label >{{ Quest.answer3 }}</ion-label >
            <ion-checkbox item-right (click)="saveMultiAnswer(Quest.answer3,i,2)"checked="false"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="(Quest.answer4 !== undefined) && (Quest.type === 'multiAnswer')">
              <ion-label >{{ Quest.answer4 }}</ion-label >
              <ion-checkbox item-right (click)="saveMultiAnswer(Quest.answer4,i,3)"checked="false"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="(Quest.answer5 !== undefined) && (Quest.type === 'multiAnswer')">
              <ion-label >{{ Quest.answer5 }}</ion-label >
              <ion-checkbox item-right (click)="saveMultiAnswer(Quest.answer5,i,4)" checked="false"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="Quest.answer6 !== undefined && (Quest.type === 'multiAnswer')">
              <ion-label >{{ Quest.answer6 }}</ion-label >
              <ion-checkbox item-right (click)="saveMultiAnswer(Quest.answer6,i,5)" checked="false"></ion-checkbox>
          </ion-item>
          <hr style="height:3px;background-color:blueviolet">
        </ion-list>
        <button ion-button full type="submit" id="click">{{'QUESTIONNAIRE.SEND'|translate}}</button>
      </form>
</ion-content>
