page-resultQuestionnaire {
  .card-ios,
  .card-md {
    width: 100%;
  }

  .card-content-md,
  .card-content-ios {
    padding: 3px 5px;
  }

  .green {
    color:green;
    font-size:50px;
  }
  .red {
    color:red;
    font-size:50px;
  }
}
