.ios,
.md {
  page-assignPoints {
    ion-input,
    ion-textarea {
      background-color: #f2f2f2;
      padding: 0 5px;
      margin-left: 50rem;
      width: 50%;
      text-align: right;

    }
  }
}
