<ion-header no-border text-wrap>
  <ion-navbar color="primary">
    <ion-title>{{ 'QUESTIONNAIRE.SHORTTITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list-header>
    {{ 'QUESTIONNAIRE.ACTIVE' | translate }}
    </ion-list-header>
  <ion-card  *ngFor="let quest of activeQuestionnairesGame;let i=index" >
   <ion-list (click)="getQuestionnaire(quest.questionnaireId,quest.gameMode,i)">
    <ion-item >
      <label item-left>{{ quest.name }}</label>
    </ion-item>
  </ion-list>
  </ion-card>
  <ion-list-header>
    {{ 'QUESTIONNAIRE.DONE' | translate }}
    </ion-list-header>
  <ion-card  *ngFor="let quest of answeredQuestionnairesGame" >
   <ion-list (click)="doneAlert(quest.name)">
    <ion-item >
      <label item-left>{{ quest.name }}</label>
    </ion-item>
  </ion-list>
  </ion-card>
  <ion-list-header>
    {{ 'QUESTIONNAIRE.PROGRAMMED' | translate }}
  </ion-list-header>
    <ion-card  *ngFor="let quest of programmedQuestionnairesGame" >
      <ion-list (click)="ProgrammedAlert(quest.name,quest.str_date)">
        <ion-item >
          <label item-left>{{ quest.name }}</label>
        </ion-item>
      </ion-list>
    </ion-card>
  <ion-list-header>
    {{ 'QUESTIONNAIRE.ENDED' | translate }}
  </ion-list-header>
    <ion-card  *ngFor="let quest of deadQuestionnairesGame" >
      <ion-list (click)="FinishAlert(quest.name,quest.fnsh_date)">
        <ion-item >
          <label item-left>{{ quest.name }}</label>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
