<ion-header no-border text-wrap>
  <ion-navbar color="primary">
    <ion-title>{{ 'GETQUESTIONNAIRE.SHORTTITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list-header>
      Questionarios Activos
    </ion-list-header>
<ion-card *ngIf="questGameStudent">
  <ion-list>
    <ion-item *ngFor="let quest of questGameStudent" (click)="getQuestionnaire(quest.id,quest.gameMode,quest.name)">
      <label item-left>{{ quest.name }} <br></label>
    </ion-item>
  </ion-list>
</ion-card>

<ion-list-header>
    Questionarios Finalizados
</ion-list-header>
</ion-content>
<!--<ion-toggle [checked]="quest.active" (ionChange)="changeActive(quest)" *ngIf="myRole == role.TEACHER"></ion-toggle>
<ion-content padding>
 Escoger el questionario
  <form *ngIf="myRole == role.STUDENT" (ngSubmit)="getQuestionnaire()" #loginForm="ngForm">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>{{ 'GETQUESTIONNAIRE.USERNAME' | translate }}</ion-label>
        <ion-input type="text" name="username" [disabled]="true" [(ngModel)]="credentials.username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'GETQUESTIONNAIRE.CODE' | translate }}</ion-label>
        <ion-input type="id" name="id" [(ngModel)]="credentials.id" required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" [disabled]="!loginForm.form.valid">{{ 'GETQUESTIONNAIRE.LOGIN' | translate }}</button>
  </form>
-->
