<ion-header no-border text-wrap>
  <ion-navbar color="primary">
    <ion-title>{{ 'GETQUESTIONNAIRE.SHORTTITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list-header>
      Questionarios Activos
    </ion-list-header>
  <ion-card  *ngFor="let quest of activeQuestionnaireGame;let i=index" >
   <ion-list (click)="getQuestionnaire(quest.questionnaireId,quest.gameMode,quest.name,i)">
    <ion-item >
      <label item-left>{{ quest.name }}</label>
    </ion-item>
  </ion-list>
  </ion-card>
  <ion-list-header>
    Questionarios Programados
  </ion-list-header>
    <ion-card  *ngFor="let quest of programmedQuestionnaireGame;let i=index" >
      <ion-list (click)="ProgrammedAlert(quest.name,quest.str_date)">
        <ion-item >
          <label item-left>{{ quest.name }} PROGRAMADO:{{quest.str_date}}</label>
        </ion-item>
      </ion-list>
    </ion-card>
  <ion-list-header>
    Questionarios Finalizados
  </ion-list-header>
    <ion-card  *ngFor="let quest of deadQuestionnaireGame;let i=index" >
      <ion-list (click)="FinishAlert(quest.name,quest.fnsh_date)">
        <ion-item >
          <label item-left>{{ quest.name }} FINALIZADO:{{quest.fnsh_date}}</label>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
